@import '~@angular/material/core/theming/all-theme';

@include md-core(); // Include non-theme styles for core.
$primary: md-palette($md-blue);
$accent: md-palette($md-blue, A200, A100, A400);
$theme: md-light-theme($primary, $accent);
@include angular-material-theme($theme); // Include all theme styles for the components.

@import '~dragula/dist/dragula.css';

html,
body {
  margin: 0;
  height: 100%;
}

* {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}
